<div id="<%= dom_id(user) %>">
  <%= user.username %>
  <%= user.email %>
  <%= user.role %>

  <% if current_user.staff? %>
    <%= link_to "Promote", promote_path(user) %>
    <%= link_to "Demote", demote_path(user) %>
  <% end %>
  
</div>