<h1>Index - Pages#Index</h1>

<div>
  <%= link_to 'Projects', projects_path %>
</div>

<br/>

<div>
  <% @projects.each do |project| %>
    <%= project.title %>
  <% end %>
</div>

<br/>

<% if current_user %>

  <p>Username : <%= current_user.username.humanize %></p>
  <p>You are : [<%= current_user.role %>]</p>

  <% if current_user.staff? %>
    <p>There are <%= User.count %> users in the system.</p>
    <br/>
  <% end %>

  <div>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
<% end %>

<div>
  <%= link_to "Users admin panel", users_path if current_user&.staff? %>
</div>