<h1>Pages#index</h1>

<%= link_to 'Projects list', projects_path %>

<br/>

<% @projects.each do |project| %>
  <%= project.title %>
<% end %>

<br/>

<% if current_user %>
  <% if current_user.staff? %>
    <p>There are <%= User.count %> users in the system.</p>
    <%= link_to "Users admin panel", users_path %>
  <% end %>

  <p>Username : <%= current_user.username.humanize %></p>
  <p>You are : [<%= current_user.role %>]</p>

  <br/>

  <%= link_to 'Edit Profile', edit_user_registration_path, 'data-turbo-method': :edit %>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>

<% else %>
  
  <br/>
  
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>