<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= project.subject %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= project.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= project.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= project.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

</div>
