<h1>Project#Index</h1>

<h2>Query form</h2>

<%= form_tag projects_path, method: :get, data: { turbo_frame: "projects-filter-results", turbo_action: "advance", controller: "filter", action: "input->filter#submit" } do |f| %>
  <%= text_field_tag "title", nil, placeholder: "Search ..." %>
  <%= select_tag "category", options_from_collection_for_select(Project.categories.keys, :to_s, :titlecase), include_blank: true, default: 0 %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Projects</h2>

<%= turbo_frame_tag "projects-filter-results" do %>
  <%= render partial: "projects/partials/projects", locals: { projects: @projects } %>
<% end %>

<div>
  <%= link_to "New project", new_project_path %>
</div>