<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<%= form_with(url: projects_path, method: :get, data: { turbo_frame: "projects", turbo_action: "advance", controller: "search-form" }) do |form| %>
  <%= form.text_field :title, data: { action: "input->search-form#search" } %>
  <%= form.collection_select :category, Project.categories.keys, :to_s, :titlecase, { include_blank: true, default: 0 }, data: { action: "change->search-form#search" } %>

  <%= form.submit "Search" %>
<% end %>

<br/>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <%= link_to "See project", project %>
  <% end %>
</div>

<% if current_user&.staff? %> <!-- Propose new project to admin and moderator -->
  <%= link_to "New project", new_project_path %>
  <br/>
<% end %>

<%= link_to "Index", root_path %> <!-- Link to index -->