<h1>Projects</h1>

<!-- Query form -->

<%= form_tag projects_path, method: :get, data: { turbo_frame: "filter-results", turbo_action: "advance", controller: "filter", action: "input->filter#submit" } do |f| %>
  <%= text_field_tag "title", nil, placeholder: "Search ..." %>
  <%= select_tag "category", options_from_collection_for_select(Project.categories.keys, :to_s, :titlecase), include_blank: true, default: 0 %>
  <%= submit_tag "Search" %>
<% end %>

<br/>

<!-- Projects list -->

<%= turbo_frame_tag "filter-results" do %>
  <%= render partial: "projects", locals: { projects: @projects } %>
<% end %>

<br/>

<% if current_user&.staff? %> <!-- Propose new project to admin and moderator -->
  <%= link_to "New project", new_project_path %>
  <br/>
<% end %>

<%= link_to "Index", root_path %> <!-- Link to index -->