<h1>Project#Show</h1>

<%= render @project %>

<% if current_user&.staff? %>
  <h2>Medium creation form</h2>

  <!-- Form to create Medium-->
  <%= render partial: "media/form", locals: { medium: Medium.new, project: @project } %>
<% end %>
<br/>

<h2>This project's media</h2>
<%= turbo_stream_from @project, :media %>

<%= tag.div id: "#{dom_id(@project)}_media" do %>
  <%= render @project.media %>
<% end %>

<% if current_user&.staff? %>
  <%= link_to "Edit this project", edit_project_path(@project) %>
  <%= button_to "Destroy this project", @project, method: :delete %>
<% end %>

<br/> 

<%= link_to "Back to projects", projects_path %>