<h1>Project#Show</h2>

<h2>Project info</h2>
<%= render partial: "projects/partials/project", locals: { project: @project } %>

<h2>Project's media</h2>

<div id="media">
  <%= render partial: "media/partials/media", locals: { media: @project.media } %>
</div>

<div>
  <%= link_to "Edit project", edit_project_path(@project) %>
  <%= link_to "#{@project.published? ? "Unpublish" : "Publish"}", project_change_status_path(@project) %>
</div>

<div>
  <%= link_to "Projects", projects_path %>
  <%= link_to "Home", root_path %>
</div>