<h1>Project#Show</h1>

<%= render @project %>

<h2>Medium creation form</h2>

<%= render "media/form", medium: Medium.new %>

<br/>

<h2>This project's media</h2>
<ul id="media">
  <%= render @project.media %>
</ul>

<%= link_to "Edit this project", edit_project_path(@project) %>
<%= button_to "Destroy this project", @project, method: :delete %>

<br/> 

<%= link_to "Back to projects", projects_path %>