<h1>Project#Show</h2>

<h2>Project info</h2>

<%= render partial: "projects/partials/project", locals: { project: @project } %>

<h2>Media form</h2>

<!-- Media form -->
<%= render partial: "media/form", locals: { medium: Medium.new, project: @project } %>

<h2>Project's media</h2>

<%= turbo_stream_from @project, :media %>
<%= tag.div id: "#{dom_id(@project)}_media" do %>
  <%= render @project.media %>
<% end %>

<div>
  <%= link_to "#{@project.published? ? "Unpublish" : "Publish"}", project_change_status_path(@project) %>
  <%= link_to "Edit project", edit_project_path(@project) %>
  <%= button_to "Delete project", project_path(@project), method: :delete %>
</div>

<div>
  <%= link_to "Projects", projects_path %>
</div>