<%= turbo_stream_from user %>
<%= turbo_frame_tag dom_id(user) do %>
  <div id="<%= dom_id(user) %>">
    <div>
      <%= user.username %>
      <%= user.email %>
      <%= user.role %>
    </div>

    <div>
      <%= link_to "Promote", promote_path(user) %>
      <%= link_to "Demote", demote_path(user) %>
    </div>
  </div>
<% end %>