<%= turbo_stream_from medium %>
<%= turbo_frame_tag medium do %>
  <div>
    <p>Title : <%= medium.title %></p>

    <!-- Video or image -->
    <% if medium.visual.attached? %>
      <% if medium.visual.content_type.include?("image") %>
        <%= image_tag url_for(medium.visual) %>
      <% else %>
        <%= video_tag url_for(medium.visual), controls: true %>
      <% end %>
    <% end %>

  </div>

  <div>
    <%# if current_user&.staff? %>
      <%= link_to "Edit", edit_project_medium_path(medium.project, medium) %>
      <%= link_to "Delete", project_medium_path(medium.project, medium), data: { "turbo-method": :delete, confirm: "Are you sure ?" } %>
    <%# end %>
  </div>
<% end %>