<%= turbo_stream_from medium %>
<%= turbo_frame_tag medium do %>
  <div>
    <p>Title : <%= medium.title %></p>
  </div>

  <div>
    <%= link_to "Edit", edit_project_medium_path(medium.project, medium) %>
    <%= link_to "Delete", project_medium_path(medium.project, medium), method: :delete, data: { confirm: "Are you sure ?" } %>
  </div>
<% end %>