<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :author %>
  <%= form.text_field :author %>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div>
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>

<div>
  <%= form.label :date %>
  <%= form.date_field :date %>
</div>

<div data-controller="upload-fields">
  <div>
    <%= form.label :visual_url %>
    <%= form.text_field :visual_url, data: { action: "upload-fields#textFieldManager", "upload-fields-target": "textField" } %>
  </div>

  <div>
    <%= form.label :visual %>
    <%= form.file_field :visual, accept: "image/png, image/jpeg, image/jpg", data: { action: "upload-fields#fileFieldManager", "upload-fields-target": "fileField" } %>
    <%= submit_tag "Remove", type: "button", style: "display:none", data: { "upload-fields-target": "fileCancelButton" } %>
  </div>

  <%# if medium.visual.attached? %>
    <%#= image_tag url_for(medium.visual), data: { "upload-fields-target": "preview" }, style: "display:none" %>
  <%# else %>
    <%= image_tag '', data: { "upload-fields-target": "preview" }, style: "display:none" %>
  <%# end %>
</div>

<div>
  <%= form.label :priority_index %>
  <%= form.select :priority_index, options_for_select(1..3) %>
</div>

<div>
  <%= form.submit %>
</div>