<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :author %>
  <%= form.text_field :author %>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div>
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>

<div>
  <%= form.label :date %>
  <%= form.date_field :date %>
</div>

<div>
  <%= form.label :visual %>
  <%= form.file_field :visual %>
</div>

<div>
  <%= form.submit %>
</div>