<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :author %>
  <%= form.text_field :author %>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div>
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>

<div>
  <%= form.label :date %>
  <%= form.date_field :date %>
</div>


<!--
  <div data-controller="image-preview">
    <%#= image_tag("preview.png",  :width => "100px", :hight => "100px", data: { target: "image-preview.output" }) %>
  </div>

  <div class="my-2">
      <%#= form.label "Look Image" %><br>
      <%#= form.file_field :image, :class => "form-control-file photo_upload", data: {target: "image-preview.input", action: "image-preview#readURL" } %>
  </div>
-->



<div data-controller="upload-fields">
  <div>
    <%= form.label :visual_url %>
    <%= form.text_field :visual_url, data: { action: "upload-fields#textFieldManager", "upload-fields-target": "textField" } %>
  </div>

  <div>
    <%= form.label :visual %>
    <%= form.file_field :visual, accept: "image/png, image/jpeg, image/jpg", data: { action: "upload-fields#fileFieldManager", "upload-fields-target": "fileField" } %>
  </div>

  <%= image_tag '', alt: 'preview', data: { "upload-fields-target": "preview" }, style: "display:none" %>
</div>

<div>
  <%= form.label :priority_index %>
  <%= form.select :priority_index, options_for_select(1..3) %>
</div>

<div>
  <%= form.submit %>
</div>