<div id="<%= dom_id visual_medium %>">
  <p>
    <strong>Title:</strong>
    <%= visual_medium.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= visual_medium.author %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= visual_medium.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= visual_medium.date %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= visual_medium.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= visual_medium.description %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= visual_medium.media %>
  </p>

  <p>
    <strong>Priority index:</strong>
    <%= visual_medium.priority_index %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= visual_medium.project_id %>
  </p>

</div>
