<p><%= @visual_medium.title %></p>
<p><%= @visual_medium.author %></p>
<p><%= @visual_medium.location %></p>
<p><%= @visual_medium.date %></p>
<p><%= @visual_medium.url %></p>
<p><%= @visual_medium.description %></p>
<p><%= @visual_medium.media %></p>
<p><%= @visual_medium.priority_index %></p>
<p><%= @visual_medium.project %></p>